In [1]:
import pandas as pd
import numpy as np
import os
os.chdir('/Users/wyattscott/Documents/DS6050/Project')

In [2]:
df = pd.read_csv("presidential_speeches.csv", usecols=['Date', 'President', 'Party', 'Transcript'])

In [3]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')

In [4]:
df_wars = pd.DataFrame({
    'War_Name': ['Indian Wars', 
                 'Spanish-American War', 
                 'Mexican Border Wars', 
                 'World War 1', 
                 'World War 2', 
                 'Korean War', 
                 'Vietnam War', 
                 'Persian Gulf War', 
                 'OEF', 
                 'OFS', 
                 'OES', 
                 'OIF', 
                 'OND', 
                 'OIR'
                ],
    'Start_Date': ['1817-01-01',
                   '1898-04-21',
                   '1916-05-09',
                   '1917-04-06',
                   '1941-12-07',
                   '1950-06-25',
                   '1964-08-05',
                   '1990-08-02',
                   '2001-10-07',
                   '2015-01-01',
                   '2021-10-01',
                   '2003-03-17',
                   '2010-11-01',
                   '2014-10-15'
                  ],
    'End_Date': ['1898-12-31',
                 '1903-07-15',
                 '1917-04-05',
                 '1918-11-11',
                 '1946-12-31',
                 '1955-01-31',
                 '1975-05-07',
                 '1991-04-06',
                 '2014-12-28',
                 '2021-08-31',
                 '2024-02-20',
                 '2010-08-31',
                 '2011-12-15',
                 '2024-02-20'
                ],
})

df_wars['Start_Date'] = pd.to_datetime(df_wars['Start_Date'], format='%Y-%m-%d')
df_wars['End_Date'] = pd.to_datetime(df_wars['End_Date'], format='%Y-%m-%d')

In [5]:
# Filter speeches df for Date > 1814
df = df[df['Date'] >= ('1815-01-01')].copy()

In [6]:
# Create a new column called "War" in df and initialize it with zeros
df['War'] = 0

# Iterate over each row in df
for index, row in df.iterrows():
    # Get the current date from the row
    current_date = row['Date']
    
    # Check if the current date falls within 6 months before the start date of any war in df_wars
    for _, war_row in df_wars.iterrows():
        start_date = war_row['Start_Date']
        
        # Calculate 1yr before the start date of the war
        six_months_before = start_date - pd.DateOffset(years=1)
        
        # If the current date falls 6 months before the start date of the war, set "War" column to 1
        if current_date >= six_months_before and current_date <= start_date:
            df.at[index, 'War'] = 1
            break

In [7]:
df.head()

,Date,President,Party,Transcript,War
71,1815-01-30,James Madison,Democratic-Republican,To the Senate of the United States: Having bes...,0
72,1815-02-18,James Madison,Democratic-Republican,To the Senate and House of Representatives of ...,0
73,1815-12-05,James Madison,Democratic-Republican,Fellow Citizens of the Senate and of the House...,0
74,1816-12-03,James Madison,Democratic-Republican,Fellow Citizens of the Senate and of the House...,1
75,1817-03-03,James Madison,Democratic-Republican,To the House of Representatives of the United ...,0

In [8]:
df.isnull().sum()

Date          0
President     0
Party         0
Transcript    0
War           0
dtype: int64

In [9]:
df = df.dropna(axis=0).reset_index(drop=True)

In [10]:
# Save to new csv for later use
df.to_csv('Speeches_War_Clean.csv', index=False)

In [11]:
Name = df['President'].unique()

In [12]:
N=[]
for i in range(len(Name)):
    N+=[i]
    
normal_mapping=dict(zip(Name,N)) 
reverse_mapping=dict(zip(N,Name)) 

def mapper(value):
    return reverse_mapping[value]

In [13]:
label=[]
for item in df['President']:
    label+=[normal_mapping[item]]
print(label[0:5])

[0, 0, 0, 0, 0]

In [14]:
data = ts3
n = len(data)

NameError: name 'ts3' is not defined